html, body {
    height: 100%;    
}

body {  
margin: 0;
padding: 0;
width: 100%;
min-height: 100%;
background-image: url("../images/bgClouds.webp");
background-size: cover;
background-repeat: no-repeat;
}

.click {  
    margin: 0;
    padding: 0;
    width:100%;
    border: none;
    max-height: fit-content;
    background:transparent;
}

.bgcolnavbut { 
    background: transparent !important;
    border: none;
    
}

.butbut{ 
    background: transparent !important;
    color: #38A3A5;
    border: 1px solid ;
}

.cookieRain {
    height: 0;
}
.flake {
    max-width: 5%;
    animation: fall 7s linear forwards infinite;
    opacity: 0.75;
}
  
/* animating snowflake in Y-axis  */
  
@keyframes fall {
    from {
        transform: translateY(-10vh);
    }
    to {
        transform: translateY(40vh);
    }
}

/*MEDIA QUERIES*/
    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
        #cookie {
            width: 300px;
            height: 300px;
        } 
     }
     @media (min-width: 992px) {
        #cookie {
            width: 500px;
            height: 500px;
        } 
     }

.links, :hover {    
    text-decoration: none;
    color: black !important;
}


