html {
    height: 100%;
    width: 100%;
}

body {  
margin: 0;
padding: 0;
height: 100%;
width: 100%;
background: -webkit-linear-gradient(-180deg, rgb(229, 240, 132), rgb(89, 203, 96));
background: linear-gradient(-180deg, rgb(229, 240, 132), rgb(89, 203, 96));
background-size: cover;
background-repeat: no-repeat;
}

.click {  
    margin: 0;
    padding: 0;  
    width:100%;
    max-height: fit-content;
    border: none;
    background:transparent;
}

.bgcolnavbut { 
    background: transparent !important;
    border: none;
    
}

.butbut{ 
    background: transparent !important;
    border: 1px solid ;
}

img.cookie {    
    transition: 
}